CONFIG_TARGET_mr_mips=y
CONFIG_TARGET_mr_mips_Default=y
CONFIG_TARGET_BOARD="mr-mips"
CONFIG_DEVEL=y
CONFIG_IMAGEOPT=y
CONFIG_INITOPT=y
CONFIG_PACKAGE_bridge=y
# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_firewall is not set
CONFIG_PACKAGE_ip=y
# CONFIG_PACKAGE_iptables is not set
# CONFIG_PACKAGE_kmod-ipt-core is not set
# CONFIG_PACKAGE_kmod-lib-crc-ccitt is not set
# CONFIG_PACKAGE_kmod-ppp is not set
# CONFIG_PACKAGE_libip4tc is not set
CONFIG_PACKAGE_libpthread=y
# CONFIG_PACKAGE_libxtables is not set
# CONFIG_PACKAGE_mtd is not set
# CONFIG_PACKAGE_ppp is not set
CONFIG_PACKAGE_uhttpd=y
CONFIG_PREINITOPT=y
# CONFIG_TARGET_INIT_SUPPRESS_STDERR is not set
CONFIG_TARGET_PREINIT_BROADCAST="10.99.1.255"
CONFIG_TARGET_PREINIT_IFNAME="eth0"
CONFIG_TARGET_PREINIT_IP="10.99.1.1"
CONFIG_TARGET_PREINIT_SHOW_NETMSG=y
# CONFIG_TARGET_PREINIT_SUPPRESS_STDERR is not set
CONFIG_UCI_PRECONFIG_network_lan_dns="10.99.0.1"
CONFIG_UCI_PRECONFIG_network_lan_gateway="10.99.0.1"
CONFIG_UCI_PRECONFIG_network_lan_ipaddr="10.99.0.2"
